<ion-content class="ion-padding page capture-page" fullscreen="true">
  <ion-toast
    [isOpen]="!!errorMessage"
    [message]="errorMessage"
    duration="2500"
    (didDismiss)="errorMessage = ''"
  ></ion-toast>

  <div class="hud">
    <h2>Sesion en curso</h2>
    <p>Cuenta regresiva: {{ countdown }}</p>
    <p>Progreso: {{ currentIndex }}/{{ totalPhotos }}</p>
  </div>

  <video
    *ngIf="!isNativePlatform"
    #videoPreview
    autoplay
    playsinline
    muted
    class="media-preview"
  ></video>

  <div
    *ngIf="isNativePlatform"
    #nativePreviewContainer
    class="media-preview native-preview"
  ></div>

  <ion-button expand="block" class="primary-action" [disabled]="isRunning" (click)="start()">
    Iniciar
  </ion-button>
  <ion-button expand="block" color="medium" (click)="cancel()">
    Cancelar
  </ion-button>
</ion-content>
